@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  color: #222;
	background: lightyellow;
  font-family: 'Open Sans', sans-serif;
}

.range {
	display: inline-block;
	background: blue;
}
